.tableM {
  /* width: 1200px; */
  height: calc(100vh - var(--height-nav) - 1vh);
  margin-left: 20px;
  width: 80vw;
}

.table-operation {
  display: flex;
  justify-content: space-around;
}

.head-title {
  background-color: aliceblue;
}

.detail-button {
  background-color: #0a7bed;
  color: #333;
  width: 80px;
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.delete-button {
  background-color: #D65E5E;
  color: #fff;
  width: 80px;
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
}