.info_location {
    background-color: hsla(135, 93%, 71%, 0.46);
    height: 13vh;
    width: 19vw;
    border-radius: 20px;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}

.info_location_cross {
    background-color: rgb(236, 106, 82, 65%);
    height: 13vh;
    width: 19vw;
    border-radius: 20px;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}

.info_coll_worked {
    background-color: rgb(243, 183, 173, 42%);
    height: 13vh;
    width: 19vw;
    border-radius: 20px;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}

.info_jan_worked {
    background-color: #9DBDBA;
    height: 13vh;
    width: 18.32vw;
    border-radius: 20px;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}

.info_icon {
    position: relative;
    left: 1vw;
    top: 1.7vh;
    width: 4vw;
    height: 8vh; 
}

.info_icon img {
    height: 8vh;
}

.icon_location {
    width: 3vw;
}

.icon_employee {
    width: 4vw;
}

.info_content {
    position: relative;
    font-weight: bold;
    font-size: 3vw;
    width: 3.3vw;
    top: -9vh;
    left: 9vw;
}

#info_content_location {
    left: 9vw;
    top: -9vh;
}

#info_content_locross {
    left: 10vw;
    top: -9vh;
}

#info_content_coll {
    left: 10vw;
    top: -9vh;
}

#info_content_jan {
    left: 9vw;
    top: -9vh;
}

.info_script {
    position: relative;
    text-align: center;
    font-size: 1.4vw;
    width: calc(19vw - 6vw);
    top: -12vh;
    left: 4.5vw;
}

/* #info_script_location {
    top: -8.5vh;
}

#info_script_locross {
    top: -8.5vh;
} */

#info_script_coll {
    left: 5.3vw;
}

#info_script_jan {
    left: 5.3vw;
}