.table-route {
    height: 80%;
    /* height: 100%; */
    width: 90%;
  }

.flexbox-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

  .manage-table-operation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .manage-head-title {
    background-color: aliceblue;
    text-align: center;
  }

  /* .head-title th {
    position: relative;
    padding-left: 3.2vw;
  } */
  
  .justify-button {
    background-color: #7D8EC4;
    color: #333;
    width: 100px;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .add-button {
    background-color: #3a5ac0;
    width: 100px;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 15vb;
    font-family: none;
    font-weight: 900;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-bottom: 10;
  }
  .flexbox-top-button:hover{
    color: white;
  }

.add-button:hover{
  color: white;
}

  .flexbox-top-button {
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2vh;
  }

