.leaflet-container {
    /*
    width: 81vw;
    height: 87vh;
    */
    width: 76.8vw;
    height: 73.3vh;
    border: 0;
    margin-left: 20.1vw;
    margin-top: -76.5vh;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}


