.info {
    position: absolute;
    top: 12vh;
    left: 20vw;
}

.border_info {
    position: relative;
    border-radius: 30px;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
    height: 53vh;
    width: 40vw;
    top: 15vh;
    left: 18vw;
    box-shadow: 5px 5px 5px #AAA;
}

.header-mini {
    position: relative;
    width: 27vw;
    font-size: 25px;
    font-weight: bold;
    top: 12vh;
    left: 32vw;
}

.width_info {
    width: 18vw;
}

.left_info {
    position: relative;
    top: 4vh;
    left: 2vw;
}

.right_info {
    position: relative;
    top: -23.8vh;
    right: -23vw;
    width: 20vw;
}

.edit_info {
    position: relative;
    height: 4vh;
    width: 10vw;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
    text-align: center;
    top: -17vh;
    left: 14.4vw;
    background-color: #D65E5E;
}

.edit_info:hover {
    cursor: pointer;
}

.edit_info p {
    position: relative;
    top: 0.4vh;
}

.change_info {
    position: relative;
    top: -23vh;
    left: 7.3vw;
}

.final_submit {
    position: relative;
    top: 8vh;
    left: -16.5vw;
    border-radius: 30px;
}

#submit {
    margin-top: 3vh;
    width: 8vw;
    margin-left: 3vw;
}