* {
    margin: 0;
    padding: 0;
}

html {
    /* font-family: 'Poppins', sans-serif; */
    --height-nav: 70px;
    --width-nav: 17vw;
}

body {
    background-color: #fff;
}

.dashboard {
    display: inline-block;
    margin-top: 10.2vh;
    position: relative;
    height: calc(100vh - var(--height-nav) - 1.3vh);
    width: calc(var(--width-nav) + 1vw);
    border-radius: 30px;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}

table.table {
    border-collapse: collapse;
}

#none {
    text-decoration: none;
    color: #000;
}

tr, th, td {
    height: 10vh;
    position: relative;
}

tr.profileOctagon, tr.groupP, tr.delete, tr.truck{
    width: 1vw;
    padding: 10px 2px;
    cursor: pointer;
    position: relative;
    border-bottom: solid rgba(0, 0, 0, 0.14);
}

tr.profileOctagon {
    bottom: 1.5vh;
}

tr.truck {
    top: 0.4vh;
    left: -1vh;
}

tr.profileOctagon:hover {
    color: #F6C445;
}

tr.groupP:hover {
    color: #9AC1F0;
}

tr.delete:hover {
    color: #A0E548;
}

tr.truck:hover {
    color: #BD9E84;
}

th img {
    margin-left: 1vw;
    margin-right: 2.5vw;
    position: relative;
    top: 2vh;
}

td#manage_account, td#manage_employee, td#manage_route, td#manage_vehicle {
    font-family: none;
    font-weight: 900;
    font-size: 18px;
}

#first_icon {
    padding-top: 20px;
}

#final_icon {
    padding-bottom: 0.05vh;
    padding-left: 0.5vw;
}

#manage_account {
    position: relative;
    top: 0.2vh;
    width: 12vw;
}

#manage_employee {
    width: 12vw;
}

#manage_route {
    position: relative;
    bottom: 0.8vh;
}

#manage_vehicle {
    position: relative;
    bottom: -1vh;
    width: 12vw;
}

.bgColor {
    background-color: rgba(68, 73, 80, 0.15);
}

.non {
    background-color: none;
}

#first_bg {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
