.leaflet-container {
    /*
    width: 81vw;
    height: 87vh;
    */
    position: absolute;
    width: 76.8vw;
    height: 73.3vh;
    border: 0;
    left: 20.1vw;
    top: 26vh;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}


