.leaflet-container {
    /*
    width: 81vw;
    height: 87vh;
    */
    position: absolute;
    width: 78.8vw;
    height: 73vh;
    border: 0;
    left: 19.6vw;
    top: 26vh;
    border: 1.6px solid rgba(0, 0, 0, 0.14);
}


