.info-list {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 0;
    width: 79vw;
    left: 19.5vw;
    top: 11vh;
}

.info-list li {
    padding: 0 0.6vw;
}